<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Tambah Obat</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav><br>
		<div class="container-fluid">
			<div class="card">
				<div class="card-header">
					<h3>Change Password</h3>
				</div>
				<div class="card-body">
					<p style="color:red" th:text="${pesan}"></p>
					<form th:action="@{/user/changePassword}" th:object="${user}" method="POST">
						<input class="form-control" type="hidden" th:field="*{id}"/>
						<input class="form-control" type="hidden" th:field="*{role}"/>
						<input class="form-control" type="hidden" th:field="*{username}"/>
						Password Lama: <br>
						<input class="form-control" type="password" name="passwordLama" required/>
						<br>
						Password Baru: <br>
						<input class="form-control" type="password" name="passwordBaru" required/>
						<br>
						Password Baru Ulangi: <br>
						<input class="form-control" type="password" name="passwordBaruUlang" required/>
						<br>
						<button class="btn btn-primary" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>